<h1><%= board.escape('title') %></h1>

<ul class="clearfix">
	<div class="list-container">
	</div>
</ul>


<div class="reference">
<a href="#/boards/<%= board.get('id') %>/lists/new" class="newList">New List</a>
<br>
<a href="#/">All Boards</a>
<br>
<button class="delete_board">Delete Board</button>
</div>