<h1>New Board</h1>

<br><br>
<form class="new_board">
	<label for="board_title">Title</label>
		<input type=text id="board_title" name="board[title]">
	<br><br>
	<input type="submit" value="Submit">
</form>

	