<li class="list">
	<span id="list_title"><%= list.escape('title') %></span>
	<div id="cards">
	</div>
	<br><br>
	<a href="#/boards/<%= list.get('board_id') %>/lists/<%= list.get('id') %>/cards/new"
		class="new_card">
		New Card
	</a>
</li>